.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #61df98;
  font-size: calc(10px + 2vmin);
  color: white;

}

#Play{

  position: center;
  padding: 15px 36px;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #91c1c9);
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn:hover{
  transform: translateX(3px);
}

.footerVersion{
  font-size: 10px;

}

#titresite{
  margin-bottom: 20px;
}
.acc{
  margin-top: 40px;
  color: black;
  padding: 10px 100px;
}


.playGame{
  padding-bottom: 100px;
}

#suite{
  bottom: 20px;

}

.btnJ{
  position: center;
  padding: 10px 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 40px;
  background-color: #61df98;
  margin-inside: 20px;
  margin: 20px;
  display: inline






}

.tableauProp{
  margin-top: 300px;
  background-color: white;
  height: 45px;
  width: 670px;
  justify-content: center;
  border-radius: 40px;


}

.formu{

  margin: auto;
  width: 100px;
  display: inline


}