@font-face {
  font-family: "Lexend Deca";
  src: url(font/LexendDeca-Regular.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(img/cool-background.png);
}

 button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #000;
  text-decoration: none;
}

header{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  background: linear-gradient(90deg, #0162c8, #91c1c9);
  border-radius: 40px;
  padding-top: 20px;

}
.logo{
  cursor: pointer;
}



.navi li {
  display: inline-block;
  padding: 0px 20px;
}

.navi li a {
  transform: all 0.3s ease 0s;
}

.navi li a:hover{
  color: aquamarine
}



body {
  font-family: "Lexend Deca";
  height: 100vh;
  background: url(img/cool-background.png);
 
}

.accueil {
  height: 100%;
  width: 100%;
  background: url(img/cool-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accueil h1 {
  font-size: 120px;
 
  text-align: center;
}

/* loader */

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  size: 30%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 3.4s ease-out;
  transition-duration: 3s;
}

#titre {
  font-size: 200%;
  font-family: "Lexend Deca";
}

.boutonf {
 
  position: center;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #91c1c9);
  margin-top: 60px;
 


}
.boutona {
 

  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #91c1c9);
  margin-top: 10px;
  border: none;

}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  font-size: 200%;
}

input,
label {
  margin: .4rem 0;
  size: 100%;
}

ul{
  display: inline-block;
  color:  #91c1c9 ;

}








